<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <clear />
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1" enabled="true">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://localhost:1337/(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="http{R:1}://www.teammentor.net/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:1337/{R:1}" />
                </rule>
            </rules>
        </rewrite>
   	<httpErrors errorMode="Custom">
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="502" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="405" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="406" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="412" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="500" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="501" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
            <error statusCode="502" prefixLanguageFilePath="" path="https://www.teammentor.net/error" responseMode="Redirect" />
	    <error statusCode="403" subStatusCode="4" path="https://www.teammentor.net" responseMode="Redirect" />
         </httpErrors>
    <security>
        <requestFiltering allowDoubleEscaping="true" />
    </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <system.web>
         <httpRuntime requestPathInvalidCharacters="%,&amp;,\,?" />
         <customErrors mode="RemoteOnly" defaultRedirect="https://www.teammentor.net/error" />
    </system.web>
</configuration>
